/*******************
* check and radio *
*******************/
/* draw regular check and radio items using our assets */
.check {
	-gtk-icon-source: url("assets/checkbox-unchecked.svg");
}

.check:insensitive {
	-gtk-icon-source: url("assets/checkbox-unchecked-insensitive.svg");
}

.check:checked {
	-gtk-icon-source: url("assets/checkbox-checked.svg");
}

.check:checked:insensitive {
	-gtk-icon-source: url("assets/checkbox-checked-insensitive.svg");
}

.check:inconsistent {
	-gtk-icon-source: url("assets/checkbox-mixed.svg");
}

.check:inconsistent:insensitive {
	-gtk-icon-source: url("assets/checkbox-mixed-insensitive.svg");
}

.radio {
	-gtk-icon-source: url("assets/radio-unselected.svg");
}

.radio:insensitive {
	-gtk-icon-source: url("assets/radio-unselected-insensitive.svg");
}

.radio:checked {
	-gtk-icon-source: url("assets/radio-selected.svg");
}

.radio:checked:insensitive {
	-gtk-icon-source: url("assets/radio-selected-insensitive.svg");
}

.radio:inconsistent {
	-gtk-icon-source: url("assets/radio-mixed.svg");
}

.radio:inconsistent:insensitive {
	-gtk-icon-source: url("assets/radio-mixed-insensitive.svg");
}

.menuitem.check {
	-gtk-icon-source: none;
}

.menuitem.radio {
	-gtk-icon-source: none;
}

GtkIconView.content-view.cell.check {
	-gtk-icon-source: url("assets/grid-selection-unchecked.svg");
}

GtkIconView.content-view.cell.check:active {
	-gtk-icon-source: url("assets/grid-selection-checked.svg");
}
