CatfishWindow .sidebar .button.flat {
    padding: 4px 6px;
    transition: none;
}

CatfishWindow .sidebar .button.flat:active,
CatfishWindow .sidebar .button.flat:checked {
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 0.95);
    background-image: none;
}

XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: @theme_base_color;
    background-image: none;
    color: @theme_text_color;
}

.xfce4-panel {
    background-color: #ffffff;
    color: #000000;
    font: normal;
}

.xfce4-panel .button {
    padding: 0 2px;
    border-radius: 0;
    border-style: none;
    color: @panel_fg_color;
}

.xfce4-panel .button:active {
    background-color: shade(@panel_bg_color, 0.8);
    background-image: none;
    color: @panel_fg_color;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    background-color: mix(@panel_bg_color, @panel_fg_color, 0.21);
    background-image: none;
    color: shade(@panel_fg_color, 1.08);
}

.xfce4-panel .menu {
    -gtk-image-effect: none;
}
